{{!< default}}



<main class="content" role="main">

    {{#foreach posts}}


    <article class="{{post_class}} ">
        <div class="row">
        <div class="col-md-2 post-meta">
            <header class="post-header">
                <span class="date"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> </span>
                <div class="tags">
                    {{tags prefix="" separator=" | "}}
                </div>
            </header>
        </div>
        <section class="post col-md-8">
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
            <div class="author">
                <img src="{{author.image}}&s=50" />
                {{author.name }}
            </div>

            <p>{{content}}</p>
        </section>

        <div class="col-md-2"></div>

        <div class="clearfix"></div>
    </div>

    </article>
    {{/foreach}}


    <div class="col-md-8 col-md-offset-2">
        {{pagination}}
    </div>

</main>
